<div class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">&#215;</a>
	    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<% end %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<%= javascript_include_tag "jqBootstrapValidation" %>
	<script>
	  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
	</script>
	<div class="row">
		<div class="page-header">
			<h2><%= image_tag 'register.svg'%>회원 가입</h2>
		</div>
		<div class="span6">
				<br>
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

				<div class="control-group">
				  <label class="control-label" for="user_email">이메일 주소</label>
				  <div class="controls">
				    <div class="input-prepend">
				      <span class="add-on"><%= image_tag "email.svg" %></span>
				      <input class="span2" id="user_email" name="user[email]" type="text" size="35" />
				    </div>
				  </div>
				</div>
				
				<div class="control-group">
				  <label class="control-label" for="user_password">비밀번호</label>
				  <div class="controls">
				    <div class="input-prepend">
				      <span class="add-on"><%= image_tag "password.svg" %></span>
				      <input class="span2" id="user_password" name="user[password]" type="password">
				    </div>
				  </div>
				</div>
				
				<div class="control-group">
				  <label class="control-label" for="user_password_confirmation">비밀번호 확인</label>
				  <div class="controls">
				    <div class="input-prepend">
				      <span class="add-on"><%= image_tag "password.svg" %></span>
				      <input class="span2" id="user_password_confirmation" name="user[password_confirmation]" type="password" >
				    </div>
				  </div>
				</div>
				<br>
			  <div><%= submit_tag "회원 가입",  :class => 'btn btn-success'  %></div>
			<% end %>
		</div>
		<div class="span6">
			<br>
			
		</div>
	</div>
</div>