# encoding: utf-8

<div class="container">
	<div class="page-header">
		<h2>새로운 관련 정보 입력</h2>
	</div>
	<div class="row">
		<div class="span12">
			<% if @target == nil then %>
			<ul class="breadcrumb">
				<li class="active"><h4>1단계: 검색하기</h4></li>
			</ul>
			<br/>
			<% else %>
			<ul class="breadcrumb">
				<li class="active"><h4>3단계: 코멘트 작성 및 저장</h4></li>
			</ul>
			<br/>
			<% end %>
			<% if @target == nil then %>
				<%= form_tag(music_search_path, :method => 'get', :class => 'form-search') do %>
					<%= text_field_tag "keyword", nil, :placeholder=>"검색어 입력" %>
					<%= hidden_field_tag :class, "relation"%>
					<%= hidden_field_tag :book_id, @book_id %>
					<%= submit_tag "검색", :class => 'btn btn-primary' %>
				<% end %>
			<% end %>
		</div>
		<div class="span6">
			<div class="well">
				<% if @target == nil then %>
				  <%=  %>
				<% else %>
					<% if @book_already_exists then %>
						<%= form_tag(relations_path, :method => 'POST') do %>
							<%= label_tag "Title"%>
							<%= strip_bold_tags @target['title'] %>
							<%= image_tag @target['cover_s_url'] %>
							<%= hidden_field_tag "relation[book_id]", @book_id %>
							<%= hidden_field_tag "relation[related_entity_id]", @book_already_id %>
							<%= label_tag "Comment:" %>
							<%= text_field_tag "relation[comment]", "", :placeholder => "comment"%>
							<%= submit_tag "Add this book" %>		
						<% end %>
					<% else %>
						<%= form_tag(relations_path, :method => 'POST') do %>
							<%= label_tag "Title"%>
							<%= strip_bold_tags @target['title'] %>
							<%= image_tag @target['cover_s_url'] %>
							<%= hidden_field_tag "book[title]", strip_bold_tags(@target['title']) %>
							<%= hidden_field_tag "book[src_url]", @target['link']  %>
							<%= hidden_field_tag "book[cover_s_url]", @target['cover_s_url'] %>
							<%= hidden_field_tag "book[cover_l_url]", @target['cover_l_url'] %>
							<%= hidden_field_tag "book[description]", strip_bold_tags(@target['description']) %>
							<%= hidden_field_tag "book[author]", @target['author'] %>
							<%= hidden_field_tag "book[publisher]", @target['pub_nm'] %>
							<%= hidden_field_tag "book[category]", @target['category'] %>
							<%= hidden_field_tag "book[isbn]", @target['isbn'] %>
							<%= hidden_field_tag "book[status_des]", @target['status_des'].to_s %>
							<%= hidden_field_tag "relation[book_id]", @book_id %>
							<%= label_tag "Comment:" %>
							<%= text_field_tag "relation[comment]", "", :placeholder =>"comment"%>			
							<%= submit_tag "Add this book" %>
						<% end %>	
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<% if @target == nil then %>
		<%= link_to '책 정보화면으로 돌아가기', "/books/"+@book_id.to_s, :class => "btn" %>
	<% else %>
		<%= link_to '검색결과로 돌아가기', :back, :class => "btn" %>
	<% end %>
</div>

