<div class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">&#215;</a>
	    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<% end %>
	<div class="page-header">
		<h2>"책 정보 수정하기"</h2>
	</div>
	<div class="row">
		<div class="span8">
			<%= render 'form' %>

			<%= link_to 'Show', @book %> |
			<%= link_to 'Back', books_path %>
		</div>
	</div>
</div>

