# encoding: utf-8
<div class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">&#215;</a>
	    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<% end %>
	<section id="thumbnails">
		<div class="page-header">
			<h2><%= image_tag 'book_list.svg'%>등록된 책 리스트</h2>
		</div>
		<div class="row">
			<div class="span12">
				<ul class="thumbnails">
					<% @books.each do |book| %>
					<li class="span3">
						<div class="thumbnail" style="padding:15px">
							<%= image_tag book.cover_l_url.to_s, style: "height: 160px;" %>
							<div class="caption" style="text-align:center">
								<h4><%= book.title %></h4>
							</div>
							<div class="detail" style='text-align:right'>
								<br/>
								<p>
									<%= link_to '관련정보 '+book.relations.count.to_s+'개', book, :class => ' btn-relation'%>
									<% if user_signed_in? then %>
										<% if current_user.email.to_s.eql?("travis0722@naver.com")%>
											<br/><br/>
											<%= link_to '수정', edit_book_path(book), :class => 'btn btn-warning' %>
											<%= link_to '삭제', book, :class => 'btn btn-danger', method: :delete, confirm: 'Are you sure?' %>
										<% end %>
									<% end %>
									<p/>
							</div>
						</div>
					</li>
					<% end %>
				</ul>
			</div>
	</section>
	<br />
	<div style="text-align:right">	
	<%= button_to '새 책 추가', {:action => "new" }, :class => 'btn btn-primary', :method => :get %>
	</div>
</div>