# encoding: utf-8
<div class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">&#215;</a>
	    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<% end %>
	<section id="thumbnails">
		<div class="page-header">
			<h2><%= image_tag 'book_list.svg'%>등록된 책 리스트</h2>
		</div>
		<div class="row">
			<div class="span12">
				<ul class="thumbnails">
					<% @books.each do |book| %>
					<li class="span4" style="margin-bottom:1em;float:left;display:block;">
						<div class="media" style="background-color:#F8F8F8;border:1px solid #EEEEEE; padding: 0.5em;">
							<%= link_to(image_tag(book.cover_s_url.to_s, :style => "display:inline-block;"), book, :style => "float:left;margin-right:10px;") %>
							<div class="media-body" style='overflow:hidden;zoom:1;display:block'>
								<h5 class="media-heading" style="font-size:14px;margin:0 0 5px">
									<%= link_to book.title, book, :style => "text-decoration:none" %>
								</h5>
								<p style="font-size:0.75em;color:#999999;margin:0 0 15px"><%= book.author %>, <%= book.publisher %></p>
								<p style="display:block;margin-right:10px;text-align:right;">
									<%= link_to (image_tag("music_small.svg")+' '+book.relations.count.to_s), book, :class => ' btn-relation'%>
									<% if user_signed_in? then %>
										<% if current_user.email.to_s.eql?("travis0722@naver.com")%>
											
										<% end %>
									<% end %>
									<p/>
							</div>
							<div style="clear:both"></div>
						</div>
					</li>
					<% end %>
				</ul>
			</div>
	</section>
	<br />
	<div style="text-align:right">	
	<%= button_to '새 책 추가', {:action => "new" }, :class => 'btn btn-primary', :method => :get %>
	</div>
</div>