# encoding: utf-8

<div class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">&#215;</a>
	    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<% end %>
	<div class="page-header">
		<h2><%= image_tag 'book.svg'%>새로운 책 정보 입력</h2>
	</div>
	<div class="row">
		<div class="span12">
			<% if @target == nil then %>
			<h3>&nbsp;<%= image_tag 'search.svg'%>1단계: 검색하기</h3>
			<% else %>
			<h3>&nbsp;<%= image_tag 'add_book.svg'%>3단계: 추가 정보 입력 및 저장</h3>
			<% end %>
			<br/>
			<%= form_tag(book_search_path, :method => 'get', :class => 'form-search') do %>
				<% if @target == nil then %>
					&nbsp;&nbsp;<%= text_field_tag "keyword", nil, :placeholder=>"검색어 입력" %>
				<% else %>
					<!-- &nbsp;&nbsp;<%= text_field_tag "keyword", nil, :placeholder=>"다시 검색하기" %> -->
				<% end %>
				<%= hidden_field_tag :class, "book"%>
				<% if @target == nil then %>
					<%= submit_tag "검색", :class => 'btn btn-primary' %>
				<% else %>
				<% end %>
			<% end %>
		</div>
		<div class="span6">
			<% if @target == nil then %>

			<% else %>
				<div class="well" style="margin-left:30px">
				<%= form_tag(books_path, :method => 'POST') do %>
					<div>
							<div style="float:left;margin-right:20px"><%= image_tag @target['cover_s_url'] %></div>
							<div style="padding-left:10px">
								<b><%= strip_bold_tags @target['title'] %></b><br>
								<%= strip_bold_tags @target['author'] %> 지음 / <%= strip_bold_tags @target['pub_nm'] %>
								<p style="font-size:10px;margin-top:10px">책 상태를 선택해주세요</p>
								<div class="btn-group" data-toggle="buttons-radio">
								  <button type="button" class="btn btn-small btn-info">이미 읽은 책</button>
									<script>
									  $('.btn').button('toggle')
									</script>
								  <button type="button" class="btn btn-small btn-info">읽고 있는 책</button>
								</div>
					<%= hidden_field_tag "book[title]", strip_bold_tags(@target['title']) %>
					<%= hidden_field_tag "book[src_url]", @target['link']  %>
					<%= hidden_field_tag "book[cover_s_url]", @target['cover_s_url'] %>
					<%= hidden_field_tag "book[cover_l_url]", @target['cover_l_url'] %>
					<%= hidden_field_tag "book[description]", strip_bold_tags(@target['description']) %>
					<%= hidden_field_tag "book[author]", @target['author'] %>
					<%= hidden_field_tag "book[publisher]", @target['pub_nm'] %>
					<%= hidden_field_tag "book[category]", @target['category'] %>
					<%= hidden_field_tag "book[isbn]", @target['isbn'] %>
					<%= hidden_field_tag "book[status_des]", @target['status_des'].to_s %>
					<%= hidden_field_tag "book[user_id]", current_user.id.to_s %>
						</div>
						<div style='clear:left;padding-top:20px;padding-bottom:15px;height:0px;text-align:right;'><%= submit_tag "이 책을 목록에 추가", :class => 'btn btn-primary' %></div>
					</div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
	&nbsp;&nbsp;<%= link_to '메인으로 돌아가기', books_path, :class => "btn" %>
</div>