<div class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">&#215;</a>
	    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<% end %>
	<div class="row">
		<div class="page-header">
			<h2><%= image_tag 'sign_in.svg'%>로그인하기</h2>
		</div>
		<div class="span8">
			<br>
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				<div class="control-group">
				  <label class="control-label" for="user_email">이메일 주소</label>
				  <div class="controls">
				    <div class="input-prepend">
				      <span class="add-on"><%= image_tag "email.svg" %></span>
				      <input class="span2" id="user_email" name="user[email]" type="text" size="35" />
				    </div>
				  </div>
				</div>
			
				<div class="control-group">
				  <label class="control-label" for="user_password">비밀번호</label>
				  <div class="controls">
				    <div class="input-prepend">
				      <span class="add-on"><%= image_tag "password.svg" %></span>
				      <input class="span2" id="user_password" name="user[password]" type="password">
				    </div>
				  </div>
				</div>
				
			  <% if devise_mapping.rememberable? -%>
			    <div><%= f.check_box :remember_me %> 내 계정 정보를 기억합니다.</div>
			  <% end %>
				<br>

					<div class="btn-group">
						<%= submit_tag "로그인",  :class => 'btn btn-success'  %>
					</div>
					<br>
					<p>
					  <a class="btn btn-small" type="button" href="/users/sign_up">회원 가입하기</a>
					  <a class="btn btn-small" type="button" href="/users/password/new">패스워드 찾기</a>
					</p>

			<% end %>
		</div>
	</div>
</div>